#Suppression {
  margin-top: 5px;
  background-color: rgb(194, 22, 22);
  align-items: center;
}
.profil {
  margin-top: 10%;
  margin-bottom: 20%;
}

.profile-button {
  width: 50%;
  margin: 2%;
}

.hr-profile {
  margin-top: 5%;
  border-top: none;
}

.title {
  font-size: 15px;
  color: #5db674;
}

.description {
  font-size: 13px;
}

.inner {
  width: auto !important;
}
